NEITH_KAFKA_BROKERS=localhost:9092
NEITH_SCHEMA_REGISTRY_URL=http://localhost:8081
NEITH_MINIO_ENDPOINT=http://localhost:19000
NEITH_MINIO_ACCESS_KEY=neith-access
NEITH_MINIO_SECRET_KEY=neith-secret99
NEITH_MINIO_BUCKET=neith-lake
NEITH_ICEBERG_CATALOG_URI=http://localhost:8181
NEITH_LOG_LEVEL=INFO
NEITH_PRODUCER_RATE_LIMIT_PER_SEC=2
NEITH_PRODUCER_MAX_WORKERS=6
NEITH_INTRADAY_INTERVAL_MINUTES=5
NEITH_BACKFILL_START_DATE=2024-01-01
